<center>
<h1 align="center" >Bug name: <%= @ticket.title.capitalize%></h1>
<h3 align="center" >Status:</h3>
<% if @ticket.status == 0%>
        <h4 class="text-primary">New</h4>
<% elsif @ticket.status == 1 %>
    <h4 class="text-warning">Started</h4>
<% elsif @ticket.status == 2 and @ticket.category = 0 %>
    <h4 class="text-success">Resolved</h4>
<%else%>
    <h4 class="text-success">Completed</h4>
<%end%>
<hr/>
<%if @ticket.image_url.present? %>
                <div class="my-5">
                 <%= image_tag @ticket.image_url.custom.url%>
                </div>
            <%end%>
<div class="well col-md-8 col-md-offset-2" align="center"> 
    <h4 class="center description">Description: </h4>
    <%= @ticket.description %>
<br>
<br>

    <p>
        Created by: 
        <small>
            <%= @ticket.user.email%>
        </small>
        <div class="pull-right">
            Created: <%= time_ago_in_words(@ticket.created_at) %> ago
        </div>
   </p>
   <div class="recipe-actions" align="center">
   <% if current_user == @ticket.user || @ticket.developer_id == current_user.id || (@ticket.developer_id == nil and current_user.user_type="Developer")%>
   <br>
    <%= link_to "Edit this BUG", edit_ticket_path(@ticket), class: "btn btn-xs btn-warning"%>
    <br>
    <%end%>
     <% if current_user == @ticket.user %>
    <br>
    <%= button_to "Delete this BUG", ticket_path(@ticket),  method: :delete, class: "btn btn-xs btn-danger"%>
    <%end%>
    <br>
    <% if current_user.user_type != "maneger"%>
    <%= link_to "Go to Bugs", tickets_path(id: @ticket.project.id), class: "btn btn-xs btn-warning"%>
    <br>
    <%end%>
    <br>
    <%= link_to "Go to Projects", projects_path, class: "btn btn-xs btn-primary"%>

   </div>
</div>
</center>