<center>
<h1 align="center" >Project Name: <%= @project.name.capitalize%></h1>
<div class="well col-md-8 col-md-offset-2" align="center"> 
    <h4 class="center description"><strong>Description:</strong></h4>
    <hr/>
    <%= @project.description %>
    <%# <% if @recipe.ingredients.any? %>
        <%# <>Ingredients: <%= render @recipe.ingredients %>
    <%# <% end %>

<br>
<br>

    <p>
        Created by: 
        <small>
            <%= @project.user.email%>
        </small>
        <div class="pull-right">
            Created: <%= time_ago_in_words(@project.created_at)%>
        </div>
   </p>
   <div class="recipe-actions" align="center">
   <% if current_user == @project.user%>
   <br>
    <%= link_to "Edit this Project", edit_project_path(@project), class: "btn btn-xs btn-warning"%>
    <br>
    <br>

    <%= button_to "Delete this project", project_path(@project),  method: :delete, class: "btn btn-xs btn-danger"%>
    <%end%>
    <br>
    <% if current_user%>
    <%= link_to "Go to Bugs", tickets_path(id: @project.id), class: "btn btn-xs btn-warning"%>
    <br>
    <%end%>
    <br>
    <%= link_to "Go to Projects", projects_path, class: "btn btn-xs btn-primary"%>

   </div>
</div>
</center>